

.control_button:active{
  background-color:  rgb(50,150,200);:
}


#controlpanel_1
{
  background-color: rgba(100,60,60,0.8);
  border-radius: 10px;
  margin: 5px;
  text-align: center;
}
#controlpanel_2
{
  background-color: rgba(60,60,100,0.8);
  border-radius: 10px;
  margin: 5px;
  text-align: right;
}
#controlpanel_3
{
  background-color: rgba(60,100,60,0.8);
  border-radius: 10px;
  margin: 5px;
  text-align: center;
}


#keycapture_button
{
  width: 200px;
  background-color: red;
}
