.control_button
{
border-radius: 5px;
border-width: 0px;
color: white;
background-color: rgb(30,30,150);
padding: 5px;
margin-right: 3px;
}

.control_button:active{
  background-color:  rgb(50,150,200);:
}

#controlpanel
{
  vertical-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-left: 5%;
}

#controlpanel_1
{
  background-color: rgba(100,60,60,0.8);
  border-radius: 10px;
  margin: 5px;
  text-align: center;
}
#controlpanel_2
{
  background-color: rgba(60,60,100,0.8);
  border-radius: 10px;
  margin: 5px;
  text-align: right;
}
#controlpanel_3
{
  background-color: rgba(60,100,60,0.8);
  border-radius: 10px;
  margin: 5px;
  text-align: center;
}
#outer
{
  height: 173px;
}

#img
{
  left:37%;
  position: absolute;
  background-color: grey;
  border-radius: 5px;
  border-width: 0px;
  padding: 10px;
  width:467px;
  height: 173px;
}
#html-canvas
{
  left:37%;
  position: absolute;
  height: 173px;
  width: 467px;
  padding: 10px;
}

#keycapture_button
{
  width: 200px;
  background-color: red;
}
